<div class="container">
    <ion-icon name="barcode-sharp" style="font-size: 80px; color: #448dd2;"></ion-icon>
    <h1>Coletor de Operação</h1>
    <form [formGroup]="formLogin" (ngSubmit)="logar()">
        <input type="text" placeholder="Placa" class="input-form" formControlName="placa">
        <input type="password" placeholder="Senha" class="input-form" formControlName="senha">
        <button class="btn-form" [disabled]="formLogin.invalid">
            <span *ngIf="loading">Entrar</span>
            <div class="loader" *ngIf="!loading">Loading...</div>
        </button>
    </form>
    <br>
    <span style="font-size: 16px; font-weight: 500; color: #448dd2; text-transform: uppercase;" (click)="pagePrimeiroAcesso()">Meu Primeiro Acesso!</span>
  </div>
  