<div class="container">
    <ion-icon name="barcode-sharp" style="font-size: 80px; color: #448dd2;"></ion-icon>
    <h1>Coletor de Operação</h1>
    <form [formGroup]="formLogin" (ngSubmit)="logar()">
        <input type="text" placeholder="Placa" class="input-form" formControlName="placa">
        <input type="password" placeholder="Senha" class="input-form" formControlName="senha">
        <button class="btn-form" [disabled]="formLogin.invalid">
            <span>Entrar</span>
        </button>
    </form>
  </div>
  