<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Conferencias</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>

    <ion-refresher slot="fixed" (ionRefresh)="atualizaDados($event)">
      <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando..."
      >

      </ion-refresher-content>
    </ion-refresher>

    <ion-card button style="text-align: left;" (click)="leitor(item.opID)" *ngFor="let item of result">
      <ion-card-header>
        <h6>OPERAÇÃO {{item.opID}}</h6>
      </ion-card-header>
      <ion-card-content style="font-size: 12px; text-align: justify;">
        <p> <b>Itens:</b> {{item.total_item}} </p>
        <p> <b>Motorista:</b> {{item.name_motorist}}</p>
        <p> <b>Aplicado em:</b> {{item.data_abertura}}</p>
      </ion-card-content>
    </ion-card>
    
  </ion-content>

</ion-app>
<div *ngIf="result == null">
  <div id="container">
    <ion-icon style="font-size: 80px; color: #c9cbcf;" name="warning-outline"></ion-icon>
    <p style="font-size: 22px; color: #c9cbcf;">Nenhum resultado encontrado.</p>
  </div>
</div>

