<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>
<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Gerenciador de Coleta</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-card button style="text-align: center;" (click)="criarOperacao()" >
      <ion-card-header>
        <!--<ion-card-subtitle>Abrir Operação</ion-card-subtitle>-->
        <ion-card-title style="color: rgb(6, 67, 180); font-size: 20px;">INICIAR NOVA OPERAÇÃO</ion-card-title>
      </ion-card-header>
      <ion-card-content style="font-size: 12px; text-align: justify;">
        Ao clica sobre esse item iniciará uma nova operação.
        Caso tenha operação <b style="text-transform: uppercase; color: rgb(14, 209, 95);">em aberta</b>, esta operação será iniciada.
        para criar uma nova operação lembre de finalizar a anterior.
      </ion-card-content>
    </ion-card>
    
  </ion-content>
</ion-app>
